<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>219324217425-6j9g6mg273ckg08275n2ka7piduuftah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219324217425-6j9g6mg273ckg08275n2ka7piduuftah</string>
	<key>API_KEY</key>
	<string>AIzaSyC2o2-GjgaIEJADakIkBee13xZ9tAqK5gI</string>
	<key>GCM_SENDER_ID</key>
	<string>219324217425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the42apps.ios.FunJCam</string>
	<key>PROJECT_ID</key>
	<string>tranquil-sunup-632</string>
	<key>STORAGE_BUCKET</key>
	<string>tranquil-sunup-632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219324217425:ios:e4118266f51f0b31</string>
	<key>DATABASE_URL</key>
	<string>https://tranquil-sunup-632.firebaseio.com</string>
</dict>
</plist>